.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -14px;
	margin-right: -14px;
}

.row.small-gutter {
	margin-left: -10px;
	margin-right: -10px;
}

.row.small-gutter .col {
	padding-left: 10px;
	padding-right: 10px;
}

.row.center {
	justify-content: center;
}

.col {
	padding-left: 14px;
	padding-right: 14px;
}

.l-2,
.l-3,
.l-4,
.l-5,
.l-6,
.l-7,
.l-12-5 {
    display: block;
}

.l-2 {
	flex-basis: 20%;
}

.l-3 {
	flex-basis: 25%;
}

.l-4 {
	flex-basis: 33.33333%;
}

.l-5 {
	flex-basis: 41.66667%;
}

.l-6 {
	flex-basis: 50%;
}

.l-7 {
    flex-basis: 58.33333%;
}

.l-12-5 {
	flex-basis: 12.5%;
}
