
.carousel {

        overflow: hidden;
        margin-left: -14px;
        margin-right: -14px;

        position: relative;
    
    &-header {
        position: relative;
        & .carousel-btn {
            box-shadow: unset;
            background-color: unset;
            left: unset;
            top: -25px;

            &:hover {
                background-color: unset;
            }

            &--left {
                right: 50px;
            }


        }
    }
    &-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
        height: 40px;
        width: 40px;

        background-color: $white;
        color: $black-3;
        box-shadow: 0px 2px 2px 1px $black-transparent-2;
        
        border-radius: 100%;
        border: none;

        font-size: 18px;
        text-align: center;
        line-height: 40px;

        z-index: 1;
        cursor: pointer;

        &:hover {
            filter: brightness(90%);
        }

        &--disabled {
            opacity: 0.4;
            cursor: default;
            &:hover {
                filter: unset;
            }
        }

        &--left {
            left: 3px;
        }

        &--right {
            right: 3px;
        }

        &--no-pos {
            position: unset;
        }
    }
    &-list {

    }

    & .row {
        flex-wrap: unset;
        @include transition(250ms);

    }

    &-item {
        flex-shrink: 0;
    }
}