
.carousel {

        overflow: hidden;
        margin-left: -14px;
        margin-right: -14px;

        position: relative;
    
    &-header {
        display: flex;
        justify-content: flex-end;
        & .carousel-btn {
            position: unset;
            box-shadow: unset;
            transform: unset;

            &:hover {
                background-color: unset;
            }
        }
    }
    &-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
        height: 40px;
        width: 40px;

        background-color: $white;
        color: $black-3;
        box-shadow: 0px 0px 5px 2px $black-transparent-2;
        
        border-radius: 100%;
        border: none;

        font-size: 18px;
        text-align: center;
        line-height: 40px;

        z-index: 1;
        cursor: pointer;

        &:hover {
            filter: brightness(90%);
        }

        &--disabled {
            opacity: 0.4;
            cursor: default;
            &:hover {
                filter: unset;
            }
        }

        &--left {
            left: 10px;
        }

        &--right {
            right: 10px;
        }

        &--no-pos {
            position: unset;
        }
    }
    &-list {
        display: flex;
        transition: transform linear 200ms;

    }
    
    &--no-gutter {
        margin-left: 0px;
        margin-right: 0px;

    }

    &--no-gutter &-item{
        padding: 0px;
    }

    &-item {
        flex-shrink: 0;
        padding: 0 14px;
        
        &--col-3 {
            width: 33.33333%;
        }

        &--col-2 {
            width: 20%;
        }

        &--col-1-4 {
            width: calc(100% / 7);
        }
    }
}