.media {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-radius: 4px;

    &--active {
        & .media-play-btn {
            display: flex;
            &__icon {
                &--play {
                    display: block;
                }
                &--pause {
                    display: none;
                }
            }
        }

        &.is-playing {
            & .media-play-btn {
                display: flex;
                &__icon {
                    &--play {
                        display: block;
                    }
                    &--pause {
                        display: none;
                    }
                }
            }
        }

        
    }

    &--active {
        background-color: $grey-transparent-1;

        
        
    }

    &.media--active-primary {
        background-color: $primary-5;
        color: $white;

        & .media__title,
        & .media__subtitle, 
        & .media-options__icon, 
        & .media-favorite-btn__icon {
            color: $white;
        }
        & .media__subtitle {
            opacity: 0.7
        }

        &:hover {
            background-color: $primary-5;
        }
    }


    &--s {
        padding: 8px 8px;

        & .media-cover {
            @include size(40px);
        }

        & .media-options {
            @include size(26px);
            line-height: 26px;
        }
    }

    &--m {
        & .media-cover {
            @include size(60px);
        }
    }

    &--l {
        & .media-cover {
            @include size(64px);
        }
    }

    &--previous {
        opacity: 0.5;
    }

    

    &--cd {
        & .media-cover {
            @include size(87px);
        }
    }

    &--rotate &-cover__img {
        transform: translateX(10%);
    }
    
    &-cover {
        width: 52px;
        height: 52px;

        
        overflow: hidden;
        position: relative;
        left: 0;
        margin-right: 10px;

        border-radius: 4px;
        transition: all linear 300ms;

        &__index {
            font-size: 2rem;
            color: purple;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* text-align: center; */
            display: flex;
            align-items: center;
            justify-content: center;
        }
        // &--small {
        //     @include size(40px);
        // }
        
        

        // &--large {
        //     width: 87px;
        //     height: 87px;
        // }

        &__img {
            height: 100%;
            width: 100%;

            object-fit: cover;

            position: absolute;
            top: 0;
            left: 0;

            z-index: 1;
        }

        &__cd {
            height: 80px;
            width: 80px;

            object-fit: cover;

            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%) rotate(0deg);
            transition: all linear 300ms;
            z-index: 0;


            
        }

        &-with-cd {
            margin-left: 10px;
            position: relative;
        }

        &-with-cd .media-play-btn {
            font-size: 2.4rem;
            background-color: $black-transparent-3;
        }

        &-with-cd .media-cover {
            margin-right: 25px;
        }
    }



    &-play-btn {
        position: absolute;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;

        font-size: 1.8rem;

        color: $white;
        background-color: $black-transparent-3;

        border: none;
        outline: none;
        cursor: pointer;

        z-index: 2;

        display: none;
        justify-content: center;
        align-items: center;

        &__icon  {

            &:hover {
                filter: brightness(90%);
            }

            &--pause {
                display: block
            }

            &--play {
                display: none;
            }
        }


    }

    &:hover &-play-btn {
        display: flex;
    }

    &:hover &-options {
        @include flex-custom;
    }

    &:hover &-favorite-btn {
        display: block;
    } 

    &:hover.media--previous {
        opacity: unset;
    }

    &:hover {
        background-color: $grey-transparent-1;
    }

    &--cd:hover &-cover {
        left: -10px
    }

    &--cd:hover &-cover__cd {
        transform: translate(-50%, -50%) rotate(90deg);
    }

    &-content {
        flex: 1;
        min-width: 0;
        margin-right: 20px;
        @include flex-column;

        &-header {
            display: flex;
            align-items: center;
        }

    }

    

    &__title {
        color: $black-1;
        font-size: $x-smallFontSize;
        text-transform: capitalize;
        color: $black-1;
        font-weight: 500;
        // overflow: hidden;
        // white-space: nowrap;        
        // text-overflow: ellipsis;
    }

    &__title, &-list-subtitle,&__subtitle {
        @include limitText(21px, 1);
    }

    &-list-subtitle {
        display: flex;
    }

    &-list-subtitle, &__subtitle {
        font-size: $media-FontSize;
        text-transform: capitalize;
        color: $grey-4;
    }

    &__subtitle {
        display: block;
        &--link {
            display: inline-block;

            &:hover {
                color: $primary-2;
                text-decoration: underline;
            }
        }
    }

    &-options {
       @include size(40px);
        
        background-color: transparent;
        border-radius: 100%;
        
        line-height: 40px;
        text-align: center;
        
        margin-left: auto;
        
        cursor: pointer;
        display: none;
        
        &__icon {
            font-size: $media-FontSize;
            color: $black-2;

            &--vert {
                display: none;

                @media screen and (max-width: $smallBreakpoint) {
                    display: block;
                }

            }

            &--hori {
                display: block;

                @media screen and (max-width: $smallBreakpoint) {
                    display: none;
                }
            }

            
        }


        
        &:hover {
            background-color: $grey-transparent-5;
        }
    }

    &__vip-label {
        font-size: 0.8rem;
        font-weight: 800;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        
        display: none;
        padding: 0px 5px;
        border-radius: 3px;
        margin-left: 5px;

        color: $black-3;
        background-color: #FFED80;
    }

    &--vip &__vip-label {
        display: block;
    }

    &--vip &__title, &--vip &__subtitle--link {
        opacity: 0.6;
    }

    &__percent {
        font-size: $baseFontSize;
        font-weight: 800;
        color: $white;
    }

    &__index {
        font-size: 3.2rem;
        font-weight: 1000;
        font-family: fantasy;
        color: transparent;

        display: block;
        padding: 0px 20px 0px 10px;
    }

    &-favorite-btn {
        border: none;
        outline: none;
        
        display: none;

        background: none;
        cursor: pointer;

        font-size: $baseFontSize;
        
        & .media-favorite-btn__icon--love {
            display: none;
        }

        & .media-favorite-btn__icon--unlove {
            display: block;
        }

        &__icon {
            color: $primary-1;
        }
    }

    &--favorite {
        & .media-favorite-btn__icon--love {
            display: block;
        }

        & .media-favorite-btn__icon--unlove {
            display: none;
        }
    }
} 




        
// }