.modal {
    @include position(fixed, 0, 0, 0, 0, 30);
    transform: translateY(100%);
    @include transition(300ms);
    display: none;
    &--open {
        transform: translateY(0%);
    }

    &__overlay {
        @include position(absolute, 0, 0, 0, 0, 10);
        background-color: $black-transparent-2;
    }

    &-body {
        
    }

    @media screen and (max-width: $smallBreakpoint) {
        display: block;
    }
}