.main {
    margin-left: $sidebar-width-on-pc;
    margin-bottom: $player-height;
    margin-top: $header-height;

    @media screen and (max-width: $smallBreakpoint) {
        margin-bottom: calc($sidebar-height-on-mobile*2 + 30px);
    }
}

